* {
	margin: 0; padding: 0;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: 0.10fr 1fr;
	background: #180C21;
}

header, main {
	width: 70%;
	margin: 0 auto;
	@media (width < 1000px) {
		width: 100%;
	}
}

header {
	background: #00061E;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	font-size: 0.7em;
	gap: 20px;

	#whatszap_icon {
		height: 40px;
	}
}

main {
	background: #4660BD;
	box-sizing: border-box;
	padding: 10px;
	gap: 20px;
	display: grid;

	.iconChat {
		height: 70px;
		box-sizing: border-box;
		width: 100%;
		background: rgb(40, 40, 40, 0.3);
		padding: 5px;
		display: flex;
		gap: 20px;
		padding-left: 20px;
		align-items: center;

		#userProfile {
			height: 80%;
			border-radius: 50%;
		}

		#username {
			color: white;
			height: 100%;
			width: 100%;
			font-size: 1.25em;
			font-family: arial;

			p {
				color: red;
				font-size: 0.25em;
			}
		}
	}
}